<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<title>Blood Status</title>
	{% load static %}
	<link href="{% static '/Content/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static '/Content/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css" />
	 <link href="{% static '/CSS/font-awesome.css' %}" rel="stylesheet" type="text/css" />
	
	<link  href="{% static '/CSS/CustomStyle.css' %}" rel="stylesheet"/>
	<link  href="{% static '/Scripts/jQueryDatePicker/jquery-ui.css' %}" rel="stylesheet"/>
	
	<script src="{% static '/Scripts/jquery-1.12.4.min.js' %}" type="text/javascript"></script>
	<script src="{% static '/Scripts/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static '/Scripts/jQueryDatePicker/jquery-ui.js' %}" type="text/javascript"></script>
</head>
<body class="compBody">
    <div class="container-fluid GlbFont">
		<div class="row">
			<div class="col-xs-12 col-sm-12 GllbFont">
				<h2 class="h2 ProjectsFont">
					<i class="fa fa-hourglass-half"></i>&nbsp;Request Blood Status
				</h2>
				<h6 class="h6">
					<span class="breadcrumb col-xs-12 table-bordered bg-White">Home / Blood Status</span>
				</h6>
			</div>
		</div>
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumb table-bordered bg-White">
                    <div class="row">
                        <label class="ContactFormHeader boldFont">Enter Unique Code</label>
                        <div class="col-sm-6 col-md-4 col-xs-12">
                            <div class="input-group form-group"">
                                <input type="text" class="form-control form-control-sm" placeholder="Unique Code" autocomplete="off" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button"><span class="fa fa-check" aria-hidden="true"></span>&nbsp;Status</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="breadcrumb table-bordered bg-White">
                    <div class="row">
                        <label class="ContactFormHeader boldFont">Blood Request Detail<span class="pull-right">Requested By : tarangch</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
					        <div class="form-group">
						        <label for="field-4" class="control-label form-group">Blood Type</label>
						        <span name="ddlBldGrp" class="form-control">
                                    A-Positive&nbsp;(A+)
                                </span>
					        </div>
				        </div>
				        <div class="col-md-3 col-sm-6 col-xs-12">
					        <div class="form-group">
						        <label for="field-5" class="control-label form-group">Gender</label>
						        <span name="ddlGender" class="form-control">Male</span>
					        </div>
				        </div>
				        <div class="col-md-3 col-sm-6 col-xs-12">
					        <div class="form-group">
						        <label for="field-6" class="control-label form-group">Quantity</label>
						        <span name="QuantityTxt" class="form-control">150</span>
					        </div>
				        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
					        <div class="form-group">
						        <label for="field-6" class="control-label form-group">Deliverd By</label>
						        <span name="DeliverdBy" class="form-control">2019-05-78</span>
					        </div>
				        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</body>
</html>